<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="assets/images/no-image.png" class="card-img-top product-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-subtitle">- Author: Akhilesh Mishra</p>
              <p class="card-subtitle">- Edition: First Edition (2024)</p>
              <a href="#" class="btn btn-primary w-100 mt-2">Go somewhere</a>
            </div>
          </div>
    </div>
</div>